/* Basic Elements */
body {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    color: white;
}

button {
    cursor: pointer;
    border: 1px solid lightgray;
    color: white;
    background-color: black;
    user-select: none;
}

button:hover {
    background-color: rgb(125, 125, 125);
    border: 1px solid white;
}
button:active {
    background-color: rgb(50, 50, 50);
}

/* App-Wide Classes */
.right-aligned {
    text-align: center;
}

/* Main Game Frames */

.ui-frame {
    border: 1px solid rgb(104, 237, 255);
    border-radius: 5px;
}
.image-button {
    cursor: pointer;
    transition: all .5s;
    height: 30px;
    width: 30px;
}
.image-button:hover{
    transform: scale(1.25, 1.25);
    transition: all .5s;
}
.image-button:active{
    transform: scale(.75, .75);
    transition: all .25s;
}
#mainGrid {
    display: grid;
    height: 100%;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: auto;
}
#gridDivider {
    border-radius: 100%;
    background-color: white;
    height: 100%;
    cursor: ew-resize;
}
#dividerColumn {
    grid-column: 2;
    grid-row: 1;
}
#menuButton {
    position:absolute;
    right:30px;
    top:5px;
    border-radius: 5px;
    padding: 5px;
}
#menuFrame {
    grid-column: 3;
    grid-row: 1;
    width: 0;   
    overflow:hidden; 
}

#menuFrame button {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 30px;
}
#messageWindow {
    grid-column: 1;
    grid-row: 1;
    margin: 0 5px;
    word-wrap: break-word;
    overflow-y: scroll;
    padding: 10px;
    display: block !important;
}

#energyPoolFrame {
    height: 50px;
    margin: 10px 5px;
}

#statusFrame {
    border: 1px solid gray;
    margin: 10px 5px;
    padding: 5px;
    text-align: center;
    font-family: Courier New, Courier, monospace;
    font-size: .7em;
}
#statusFrame table {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}


/* Energy Pool Frame */

.pool-title {
    position: absolute;
    left: 0;
    width: 50%;
    text-align: center;
    font-weight: bold;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.pool-amount {
    display: inline-block;
    padding: 0 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, .5);
    font-weight: bolder;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.rising-particle {
    height: 2px;
    width: 2px;                                      
    border-radius: 100%;
    position: absolute;
    background-color: white;
    animation-name: rising-particle;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes rising-particle {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        top: -15px;
    }
}

/* Input Area */
#inputFrame {
    height: auto;
    margin: 10px 5px;
}

#inputSelector {
    background-color: black;
    border: 1px solid white;
    color: white;
    margin: 5px;
    width: 100px;
}
#inputText {
    width: calc(100% - 130px);
    margin: 5px;
}
#intellisenseFrame {
    display: none;
    position: fixed;
    bottom: 150px;
    left: 135px;
    background-color: rgba(125,125,125, .75);
    padding: 5px;
    min-height: 20px;
    min-width: 50px;
}

/* Animations */
.glowing {
    animation-name: glowing;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}

@keyframes glowing {
    from {
        opacity: .2;
    }
    to {
        opacity: 1;
    }
}
.fade-in-text {
    animation-name: fade-in-text;
    animation-duration: .75s;
    animation-iteration-count: 1;
}
@keyframes fade-in-text {
    from {
        opacity: 0;
        margin-left: 10px;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
}